@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --font-logo: 'Oswald', sans-serif;
    --font-geral: 'Roboto', sans-serif;
    --font-input: 'Mukta', sans-serif;
    --cor1: #0D0D0D;
    --cor2: #595959;
    --cor3: #BFBFBF;
    --cor4: #F3C522;
    --cor5: #FFE070;
}
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    padding: 0px;
    margin: 0px;
}
.nav-bar {
    background-color: var(--cor1);
    height: 20vh;
    width: 98.7vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.logo {
    width: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.logo a {
    text-decoration: none;
    font-size: 34px;
    color: #FFFFFF;
    font-family: var(--font-logo);
}
.menu {
    width: 40%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.menu ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.menu ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 16px;
    font-size: 20px;
    background-color: var(--cor2);
    border-radius: 5px;
}
.menu ul li a:hover {
    background-color: rgb(13, 211, 13);
    color: white;
    border-radius: 5px;
}
#botao {
    background-color: #180F4A;
    color: white;
    border-radius: 5px;
}
#cadastro-box {
    border-radius: 10px;
    border: 5px double black;
    box-shadow: 5px 5px 5px #180F4A;
    height: 730px;
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(255, 242, 242);
}
#form-cadastro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.campo legend {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.campo {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}
#etiqueta1 {
    margin-right: 66%;
}
#etiqueta2 {
    margin-right: 69%;
}
#etiqueta3 {
    margin-right: 69%;
}
#etiqueta4 {
    margin-right: 70%;
}
#etiqueta5 {
    margin-right: 62%;
}
#etiqueta6 {
    margin-right: 64%;
}
.campo input {
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid black;
}
#form-button {
    background-color: greenyellow;
    color: green;
    border: 1px solid greenyellow;
    border-radius: 15px;
    padding: 12px 20px;
    margin: 20px;
}