@charset "UTF-8";
/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    .logo {
        width: 40%;
        margin: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    .menu {
        width: 60%;
    }
}
/* Dispostivos um pouco maiores, mas ainda pequenos (Pequenos Tablets) */
@media only screen and (min-width: 600px) {
    .menu {
        width: 60%;
    }
    .logo {
        width: 40%;
    }
}