@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --font-logo: 'Oswald', sans-serif;
    --font-geral: 'Roboto', sans-serif;
    --font-input: 'Mukta', sans-serif;
    --cor1: #0D0D0D;
    --cor2: #595959;
    --cor3: #BFBFBF;
    --cor4: #F3C522;
    --cor5: #FFE070;
}

/*   NAV-BAR   */
* {
    font-family: var(--font-geral);
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
}
.nav-bar {
    background-color: var(--cor1);
    height: 20vh;
    width: 98.7vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    position: fixed;
    top: 0px;
}
.logo {
    width: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.logo a {
    text-decoration: none;
    font-size: 34px;
    color: #FFFFFF;
    font-family: var(--font-logo);
}
.menu {
    width: 40%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.menu ul {
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.menu ul .li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 20px;
    background-color: var(--cor2);
    border-radius: 5px;
}
.menu ul .li a:hover {
    color: black;
    background-color: var(--cor5);
}
#botao {
    background-color: var(--cor4);
    font-weight: bolder;
    color: var(--cor1);
    border-radius: 5px;
}
#botao:hover {
    background-color: var(--cor5);
    color: var(--cor2);
}
#icon-user {
    height: 75px;
    width: 75px;
}
.dropdown-container {
    display: none;
    background-color: rgb(238, 232, 232);
    width: 350px;
    height: 200px;
    position: fixed;
    right: 75px;
    border-radius: 5px;
    font-family: var(--font-input);
    font-weight: bolder;
    border: 5px solid var(--cor2);
}
.dropdown-container a button {
    font-weight: bolder;
    font-size: 20px;
    background-color: red;
    color: white;
    font-family: var(--font-input);
    cursor: pointer;
}
.id-username {
    font-size: 22px;
}
.id-user-email {
    margin: 10px;
}
.li-user:hover .dropdown-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* Main */
.main {
    margin-top: 125px;
}
.search-box {
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
#search {
    width: 400px;
    margin-right: 10px;
    margin-left: 10px;
    height: 30px;
    border: 2px solid black;
}
#procurar {
    height: 30px;
    background-color: var(--cor1);
    color: var(--cor3);
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.material-symbols-outlined {
    background-color: var(--cor1);
    color: var(--cor3);
    padding: 3px;
}
.produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.produto {
    height: 250px;
    width: 32vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 5px;
}
.informacoes-produto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 45%;
}
img {
    width: 100%;
    height: 100%;
}
.img {
    width: 55%;
    height: 100%;
}
.nome-produto p {
    font-size: 24px;
    font-weight: bolder;
    background-color: var(--cor1);
    color: var(--cor3);
    padding: 5px;
    border-radius: 5px;
}
.valor-produto p {
    font-size: 18px;
    font-weight: bold;
}
#comprar {
    width: 100px;
    height: 35px;
    background-color: var(--cor2);
    color: balck;
    border: 1px solid black;
    font-weight: bolder;
}
#comprar:hover {
    background-color: var(--cor4);
}