@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --font-logo: 'Oswald', sans-serif;
    --font-geral: 'Roboto', sans-serif;
    --font-input: 'Mukta', sans-serif;
    --cor1: #0D0D0D;
    --cor2: #595959;
    --cor3: #BFBFBF;
    --cor4: #F3C522;
    --cor5: #FFE070;
}
* {
    font-family: var(--font-geral);
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
}
.nav-bar {
    background-color: var(--cor1);
    height: 25vh;
    width: 98.7vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.logo {
    width: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.logo a {
    text-decoration: none;
    font-size: 34px;
    color: #FFFFFF;
    font-family: var(--font-logo);
}
.menu {
    width: 40%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.menu ul {
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.menu ul .li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 20px;
    background-color: var(--cor2);
    border-radius: 5px;
}
.menu ul .li a:hover {
    color: var(--cor2);
    background-color: var(--cor5);
}
#botao {
    background-color: var(--cor4);
    font-weight: bolder;
    color: var(--cor1);
    border-radius: 5px;
}
#botao:hover {
    background-color: var(--cor5);
    color: var(--cor2);
}
#login-box {
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px var(--cor3);
    height: 70vh;
    width: 50%;
    margin: 2.5vh 25% 2.5vh 25%;
}
#form-login {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.campo {
    width: 80%;
    height: 62%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 3px solid black;
}
.campo input {
    width: 80%;
    font-family: var(--font-input);
    font-size: 16px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}
.etiqueta {
    background-color: var(--cor2);
    padding: 5px;
    color: white;
    font-weight: bolder;
    border-radius: 3px;
}
.container-controls {
    display: flex;
    flex-direction: column;
    flex-wrap: center;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--cor3);
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}
#form-button {
    background-color: var(--cor4);
    color: var(--cor1);
    font-weight: bolder;
    border: 1px solid greenyellow;
    border-radius: 5px;
    padding: 12px 20px;
    margin-top: 20px;
    cursor: pointer;
}
#icon-user {
    height: 75px;
    width: 75px;
}
.dropdown-container {
    display: none;
    background-color: rgb(238, 232, 232);
    width: 350px;
    height: 200px;
    position: fixed;
    right: 75px;
    border-radius: 5px;
    font-family: var(--font-input);
    font-weight: bolder;
    border: 5px solid var(--cor2);
}
.dropdown-container a button {
    font-weight: bolder;
    font-size: 20px;
    background-color: red;
    color: white;
    font-family: var(--font-input);
    cursor: pointer;
}
.id-username {
    font-size: 22px;
}
.id-user-email {
    margin: 10px;
}
.li-user:hover .dropdown-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}